body {
    background: #f1f1f1;
  }
  
  h1 {
    font-size: 80px;
  }
  
  h3 {
    font-size: 30px;
  }
  
  .head {
    height: 200px;
    padding-top: 20px;
    background: #a05a5a;
  }
  
  .head title {
    padding: 60px;
    margin: 0;
    color: rgb(129, 16, 235);
    background-color: cornsilk;
    text-align: center;
  }
  
  
  @media (max-width: 480px) {
    .navbar li {
      padding: 10px;
    }
  
    .post {
      margin-right: 30px;
      margin-left: 30px;
    }
  
    .navbar ul {
      visibility: hidden;
    }
  
    #nav-select {
      visibility: visible;
    }
  }